<div class="">
  <div class="p-2">
    <p>
      Upon creating a profile, this application will search PAYCHEX for an account whose User Email matches the email entered in the Email field below.
    </p>
    <p class="pt-1.5">
      Creating a profile does not grant this person access to this application by default.
    </p>
    <p class="pt-1.5">
      Only BakerRehabGroup.com email addresses are accepted. 
    </p>
  </div>
</div>

<%= render "form", profile: @profile %>

<br>

<div>
  <%= link_to "Back to profiles", profiles_path %>
</div>
