<div id="<%= dom_id documented_unit %>">
  <p>
    <strong>Code:</strong>
    <%= documented_unit.code_id %>
  </p>

  <p>
    <strong>Visit:</strong>
    <%= documented_unit.visit_id %>
  </p>

  <p>
    <strong>Unit count:</strong>
    <%= documented_unit.unit_count %>
  </p>

</div>
