<h1>Editing documented unit</h1>

<%= render "form", documented_unit: @documented_unit %>

<br>

<div>
  <%= link_to "Show this documented unit", @documented_unit %> |
  <%= link_to "Back to documented units", documented_units_path %>
</div>
