<%= tag.tr id: dom_id(patient) do %>
  <td><%= patient.name %></td>
  <td>
    <% patient.documents.each do |document| %>
      <div><%= link_to document.filename, document, target: :_blank %></div>
    <% end %>
  </td>
  <td><%= link_to "Show", patient %></td>
<% end %>
