<div id="<%= dom_id credential %>">
  <p>
    <strong>Requirement:</strong>
    <%= credential.requirement_id %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= credential.profile_id %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= credential.expiration_date %>
  </p>

</div>
