<div class="h-screen flex flex-col items-center justify-center">
    <div class="min-w-40 max-w-96 min-h-40 max-h-96">
        <img src="https://zblogbakerbucket.s3.amazonaws.com/brg_logo_mark.svg" class="" fill="none" alt="Baker Rehab Group Logo" />
    </div>
    <div class="pt-8">
        <%# https://github.com/heartcombo/devise/issues/5236 %>
        <%= button_to "Log in to Visit Tracker", user_azure_activedirectory_v2_omniauth_authorize_path, method: :post, "data-turbo": false, class: "bg-blue-500 rounded text-white p-2" %>
    </div>
</div>

